@import '../style/globals';

$header-size: 80px;

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-header {
    flex: 0;
    height: $header-size;
    padding: 1rem;
    display: flex;
    align-items: center;

    &__link {
        text-decoration: inherit;
    }
}

.page-content {
    flex: 1;
    overflow: auto;

    &__inner {
        width: 85%;
        margin: 1rem auto;
    }

    &__title {
        text-align: center;
        margin: 1rem;
    }
}